<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <a routerLink="" class="navbar-brand d-flex align-items-center">
      <strong>MyStore</strong>
    </a>
    <a routerLink="/store" class="col-sm-5 btn btn-primary btn-block my-2">Store</a>
    <a routerLink="/auth" class="btn btn-primary btn my-2">Sign in</a>
  </div>
</div>
<div class="container" role="main">
<router-outlet></router-outlet>
</div>
<footer class="fixed-bottom page-footer font-small blue">

  <div class="footer-copyright text-center container">© 2021
  </div>


</footer>

