div {
    background: #EAE7DC;
}

.cl1 {
    background: white;
    border: 1px, solid,#8e8d8a4b;
    box-shadow: 2px 2px 8px #8e8d8ab2;
    color: #8E8D8A;
    margin: 0 12px 12px 0;
}

h2 {
    color: #8e8d8a;
}