<div class="cl2">
  <div class="container cl1 text-center">
    <form class="">
      <h3>Регистрация</h3>
      <label for="???" class="sr-only">Имя</label>
      <input
        type="text"
        id="email"
        class="form-control"
        placeholder="Ваше имя"
        required=""
        autofocus=""
        formControlName="???"
      />
      <label for="inputEmail" class="sr-only">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        placeholder="Введите E-mail"
        required=""
        autofocus=""
        formControlName="Email"
      />
      <label for="password" class="sr-only">Пароль</label>
      <input
        type="password"
        id="password"
        maxlength="25"
        class="form-control"
        placeholder="Ваш пароль"
        required=""
        formControlName="Password"
      />
      <label for="???" class="sr-only">Повторите пароль</label>
      <input
        type="password"
        id="???"
        maxlength="25"
        class="form-control"
        placeholder="Ваш пароль"
        required=""
        formControlName="???"
      />
      <br />
      <button class="btn btn-lg btn-block" type="submit">
        Зарегистрироваться
      </button>
    </form>
  </div>
</div>
