nav {
  background-color: #8e8d8a;
}

.searchsize {
  width: 45%;
  margin-right: auto;
}

.catmain {
  background-color: rgb(238, 238, 238);
}

a, a:visited {
  color: #EAE7DC;
}

select {
  color: #8e8d8a;
}

a:hover, button:hover{
  color: #E98074;
}

button{
  background-color: #EAE7DC;
  color:#8e8d8a;
}

input:focus, button:focus {
  outline: solid 2px #e98074;
  border: 1px solid #e98074;
  box-shadow: none;
}

footer{
  background-color: #8e8d8a;
  color:#EAE7DC;
}

.a1{
  text-decoration:none;
  margin-right: 3%;
}

html{
  background-color: #EAE7DC;
}