
<div class="col-10 offset-2 mt-5">
	<h2>Все объявления</h2>
	<div class="row">
		<div class="col-3 cl1 category-wrap" >	
			<div class="category-wrap cl2" >
				<p>Название: <!--{{ post.name }}--> </p>
				<p>Цена: <!--{{ post.cost }}--> </p>
				<p>Продавец: <!--{{ post.creatorId }}--> </p>
				<p>Дата создания: <!--{{ post.dateOfCreate }}--> </p>
				<ul>
					<a routerLink="/view" class="nav-link a1">Посмотреть</a>
				</ul>	
			</div>
		</div>
		<div class="col-3 cl1 category-wrap" >	
			<div class="category-wrap cl2" >
				<p>Название: <!--{{ post.name }}--> </p>
				<p>Цена: <!--{{ post.cost }}--> </p>
				<p>Продавец: <!--{{ post.creatorId }}--> </p>
				<p>Дата создания: <!--{{ post.dateOfCreate }}--> </p>
				<ul>
					<a routerLink="/view" class="nav-link a1">Посмотреть</a>
				</ul>	
			</div>
		</div>
		<div class="col-3 cl1 category-wrap" >	
			<div class="category-wrap cl2" >
				<p>Название: <!--{{ post.name }}--> </p>
				<p>Цена: <!--{{ post.cost }}--> </p>
				<p>Продавец: <!--{{ post.creatorId }}--> </p>
				<p>Дата создания: <!--{{ post.dateOfCreate }}--> </p>
				<ul>
					<a routerLink="/view" class="nav-link a1">Посмотреть</a>
				</ul>	
			</div>
		</div>
		<div class="col-3 cl1 category-wrap" >	
			<div class="category-wrap cl2" >
				<p>Название: <!--{{ post.name }}--> </p>
				<p>Цена: <!--{{ post.cost }}--> </p>
				<p>Продавец: <!--{{ post.creatorId }}--> </p>
				<p>Дата создания: <!--{{ post.dateOfCreate }}--> </p>
				<ul>
					<a routerLink="/view" class="nav-link a1">Посмотреть</a>
				</ul>	
			</div>
		</div>
	</div>
</div>

