<div class="cl2">
  <div class="container cl1 text-center align-centre">
    <form class="???">
      <h3>Разместить объявление</h3>
      <label for="???" class="sr-only">Название</label>
      <input
        type="text"
        id="???"
        class="form-control"
        placeholder="Название"
        required=""
        autofocus=""
        formControlName="???"
      />
      <label for="???" class="sr-only">Цена</label>
      <input
        type="number"
        id="???"
        class="form-control"
        placeholder="Цена"
        required=""
        formControlName="???"
      />
      <label for="???" class="sr-only">Категория</label><br />
      <select>
        <option class="cat1">Категория 1</option>
        <option>Подкатегория 1</option>
        <option>Подкатегория 2</option>
        <option class="cat1">Категория 2</option>
        <option>Подкатегория 1</option>
        <option>Подкатегория 2</option>
        <option class="cat1">Категория 3</option>
        <option>Подкатегория 1</option>
        <option>Подкатегория 2</option>
      </select>
      <br />
      <label for="???" class="sr-only">Описание</label> <br />
      <textarea name="comment" cols="40" rows="3"></textarea> <br />
      <br />
      <button class="btn btn-lg btn-block" type="submit">Разместить</button>
    </form>
  </div>
</div>
