
    <div class="card"> 
        <div class="card-body cl1">
        <h3>Регистрация</h3>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">Ваше имя</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Обязательное поле</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName">Номер телефона в формате +x (xxx)xxx-xx-xx</label>
                    <input type="tel" formControlName="lastName" class="form-control" placeholder="+7(000)000-00-00" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.pattern">Введите данные в указанном формате</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username">Электронная почта</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Обязательное поле</div>
			<!-- <div *ngIf="f.username.errors.email">Неверная почта</div> -->
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Обязательное поле</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="sr-only">Повторите пароль</label>
                    <input 
                        type="password" 
                        formControlName="confirmPassword" 
                        class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Обязательное поле</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Пароли не совпадают</div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button [disabled]="loading" class="btn">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Регистрация
                    </button>
                    <a routerLink="../login">Отмена</a>
                </div>
            </form>
        </div>
    </div>
