<!-- nav -->
<nav class="navbar navbar-expand-lg nav-inline">
    <div class="container-fluid">
		<a routerLink="" class="navbar-brand">MyStore</a>

		<ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-inline">
			<li class="nav-item">
				<a routerLink="/store" class="nav-link">Категория 1</a>
			</li>
			<li class="nav-item">
				<a routerLink="/store" class="nav-link">Категория 2</a>
			</li>
			<li class="nav-item">
				<a routerLink="/store" class="nav-link">Категория 3</a>
			</li>
		</ul>
	

		<div class="input-group searchsize">
			<select>
				<option selected="" value="" data-marker="option">Любая категория</option>
				<option class="catmain">Категория 1</option>
				<option>Подкатегория 1</option>
				<option>Подкатегория 2</option>
				<option class="catmain">Категория 2</option>
				<option>Подкатегория 1</option>
				<option>Подкатегория 2</option>
				<option class="catmain">Категория 3</option>
				<option>Подкатегория 1</option>
				<option>Подкатегория 2</option>
			</select>
			
			<input
				type="search"
				class="form-control"
				placeholder="Поиск по объявлениям"
				aria-label="Search"
			/>

			<button class="btn" type="button">Найти</button>
		</div>



		<div class="navbar-nav">
		<a routerLink="/add" class="nav-link">Разместить объявление</a>
		<a routerLink="account/login" class="nav-link" *ngIf="!user">Вход</a>
		<a routerLink="account/register" class="nav-link" *ngIf="!user">Регистрация</a>
		<a routerLink="/acc" class="nav-link" *ngIf="user">Мой кабинет</a>
		<a class="nav-item nav-link" (click)="logout()" *ngIf="user" >Выход</a>
		</div>
    </div>
</nav>

<!-- main app container -->
<div class="app-container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<footer class="fixed-bottom page-footer font-small ">
    <div class="footer-copyright text-center container">© 2022</div>
</footer>