<div class="cl2">
	<div class="container cl1 text-center align-centre">
    <form [formGroup]="editPost" (ngSubmit)="onSubmit()">
		<h3>Редактировать объявление</h3>
	
		<div class="form-group">
			<label class="sr-only">Название</label>
			<input
				type="text"
				class="form-control"
				placeholder="Название"
				required=""
				autofocus=""
				formControlName="name"
				[ngClass]="{ 'is-invalid': submitted && f.name.errors }" 
			/>
			<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
				<div *ngIf="f.name.errors.required">Обязательное поле</div>
			</div>
		</div>
	  
		<div class="form-group">
			<label class="sr-only">Город</label>
			<input
				type="text"
				class="form-control"
				placeholder="Город"
				required=""
				autofocus=""
				formControlName="city"
				[ngClass]="{ 'is-invalid': submitted && f.city.errors }" 
			/>
			<div *ngIf="submitted && f.city.errors" class="invalid-feedback">
				<div *ngIf="f.city.errors.required">Обязательное поле</div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="sr-only">Цена</label>
			<input
				type="number"
				class="form-control"
				placeholder="Цена"
				required=""
				formControlName="cost"
				[ngClass]="{ 'is-invalid': submitted && f.cost.errors }" 
			/>
			<div *ngIf="submitted && f.cost.errors" class="invalid-feedback">
				<div *ngIf="f.cost.errors.required">Обязательное поле</div>
			</div>
		</div>
	  
		<div class="form-group">
			<label class="sr-only">Категория</label><br />
			<select formControlName="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
				<option [ngValue]="null" disabled>Выбрать категорию</option>
				<option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
			</select>
			<div *ngIf="submitted && f.category.errors" class="invalid-feedback">
				<div *ngIf="f.category.errors.required">Обязательное поле</div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="sr-only">Описание</label>
			<textarea 
				name="comment" 
				placeholder="Описание"
				cols="40" 
				rows="3" 
				formControlName="description" 
				[ngClass]="{ 'is-invalid': submitted && f.description.errors }">
			</textarea>
			<div *ngIf="submitted && f.description.errors" class="invalid-feedback">
				<div *ngIf="f.description.errors.required">Обязательное поле</div>
			</div>		
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-block" type="submit">Сохранить</button>
			<a routerLink="/acc" class="nav-link">Отмена</a>
		</div>
    </form>
  </div>
</div>
