<div>
  <div class="block-left">
    <div class="category-wrap">
      <h5>Категория</h5>
      <ul>
        <li><a>Подкатегория 1</a></li>
        <li><a>Подкатегория 2</a></li>
      </ul>
    </div>
  </div>
  <div class="container block-right">
    <div class="row">
      <div class="col-sm-3 cl1" *ngFor="let post of posts">
        <p>Название: {{ post?.name }}</p>
        <p>Цена: {{ post?.cost }}</p>
        <p>Продавец: {{ post?.creatorId }}</p>
        <p>Дата создания: {{ post?.dateOfCreate }}</p>
      </div>
    </div>
  </div>
</div>
